In [62]:
#Loading modules
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [14]:
#Loading data
cols=['Survived', 'Pclass','Sex', 'Age', 'SibSp','Parch','Fare']
titanic=pd.read_csv('titanic-train.csv', usecols=cols)

In [39]:
#EDA
#let's handle our missing data specially on Age column
titanic.fillna(titanic['Age'].mean(),inplace=True)

In [44]:
#Converting categorical features
sex=pd.get_dummies(titanic['Sex'], drop_first=True)
titanic.drop(['Sex'], axis=1, inplace=True)
titanic=pd.concat([titanic,sex], axis=1)

In [45]:
titanic.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male
0         0       3  22.0      1      0   7.2500     1
1         1       1  38.0      1      0  71.2833     0
2         1       3  26.0      0      0   7.9250     0
3         1       1  35.0      1      0  53.1000     0
4         0       3  35.0      0      0   8.0500     1

In [50]:
#Let's split up our data into Training and test set
X=titanic.drop(['Survived'], axis=1)
y=titanic['Survived']

In [66]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.25, random_state=0)

In [67]:
#Decision Trees
dtree=DecisionTreeClassifier(criterion='entropy',random_state=0)
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [68]:
#Prediction and Evaluation
predictions=dtree.predict(X_test)
conf_matrix=confusion_matrix(y_test,predictions)
accuracy=accuracy_score(y_test,predictions)

In [69]:
conf_matrix,accuracy

(array([[116,  23],
        [ 28,  56]], dtype=int64), 0.7713004484304933)

In [70]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.81      0.83      0.82       139
          1       0.71      0.67      0.69        84

avg / total       0.77      0.77      0.77       223